/*
================================================================================
================================================================================
alter Code
mediaqueries
TODO einarbeiten und Umstellen auf mobile First
================================================================================
================================================================================
*/
@media (max-width: 1145px) {
	.fundraising .item .ce_text {
		width: 59%;
	}

	ul.chart {
		width: 35%;
	}
}

@media (max-width: 1085px) {
	.ce_caroufredsel .text {
		left: 30px;
		right: 30px;
	}

	.caroufredsel_navi a {
		color: #262626;
	}

	.caroufredsel_prev {
		left: 30px;
	}

	.caroufredsel_next {
		right: 30px;
	}
}

@media (max-width: 1060px) {
	.mod_article.fixed {
		.ce_headline, .teaser {
			width: 65%;
		}

		.button {
			// width: 35%;
		}
	}

	.ce_list.stats ul li {
		width: 30.3%;
		margin-right: 3%;

		&:last-child, &:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(-n+3) {
			margin-bottom: 40px;
		}
	}
}

@media (max-width: 1023px) {
	.js-nav {
		overflow-y: visible;

		#outer-wrapper {
			overflow-y: scroll;
		}
	}

	.js-ready #wrapper {
		right: 0;
	}

	.js-nav #wrapper {
		right: 50%;
	}
}

@media (max-width: 1000px) {
	.mod_article.fixed {
		.ce_headline, .teaser {
			width: 100%;
			padding: 0;
			text-align: left;
		}
	}

	.fundraising .item .ce_text {
		width: 100%;
		margin-right: 0;
		display: block;
	}

	ul.chart {
		margin-bottom: 60px;
		width: auto;
		margin-right: 0;
		display: inline-block;
	}

	.ce_list {
		&.contributors li, &.sponsors li {
			width: 47.5%;
		}

		&.contributors li:nth-child(n), &.sponsors li:nth-child(n) {
			margin-right: 5%;
		}

		&.contributors li:nth-child(2n), &.sponsors li:nth-child(2n) {
			margin-right: 0;
		}

		&.contributors li:nth-last-child(n), &.sponsors li:nth-last-child(n) {
			border-bottom: 1px solid #cdcdcd;
		}

		&.contributors li:nth-last-child(-n+2), &.sponsors li:nth-last-child(-n+2) {
			border-bottom: 0;
		}
	}
}

@media (max-width: 900px) {
	.mod_article {
		&.fixed .inside {
			padding: 25px 0;
		}

		.inside {
			padding: 35px 0;
		}
	}

	.fundraising .content {
		padding: 35px 0;
	}

	.col_1 > div[class*="sub"] > h3:first-child {
		margin-top: 0;
	}

	.ce_colsetPart > div[class*="sub"] > {
		h3:first-child {
			margin-top: 50px;
		}

		h4:first-child {
			margin-top: 35px;
		}
	}

	.subcolumns {
		.first, .mod_colsetPart, .sc_second, > div {
			float: none;
			width: 100%;
			margin: 0;
		}
	}

	.equalize > div {
		display: block;
	}

	.subcolumns {
		.mod_colsetPart, .ce_colsetPart, .sc_second {
			margin-top: 0;
		}

		.subcl, .subcr, .subc {
			padding: 0 !important;
		}
	}

	.ym-grid {
		.first, .ce_colsetStart, .ce_colsetPart, > div {
			float: none;
			width: 100%;
			margin: 0;
		}

		.ym-gbox-left, .ym-gbox, .ym-gbox-right {
			padding: 0 !important;
		}
	}

	div[class*="ce_"].boxed img {
		margin: 0 auto;
		display: block;
		text-align: center;
	}

	.news .col_1 {
		display: none;
	}

	.mod_newslist .layout_news {
		margin-bottom: 45px !important;

		&.last {
			margin-bottom: 0 !important;
		}
	}

	.supporters .item {
		width: 47.5%;
		margin-right: 5%;

		&:nth-child(n) {
			margin-right: 5%;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-last-child(n) {
			margin-bottom: 4%;
		}

		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}

	.ce_metamodel_nightlyinfo td {
		&.col_0 {
			width: 50%;
		}

		&.col_1, &.col_2 {
			width: 25%;
		}
	}
}

@media (max-width: 800px) {
	#container {
		padding-bottom: 25px;
	}

	.ce_caroufredsel .text {
		position: static;
		margin-top: 15px;
	}

	.caroufredsel_navi a {
		display: none !important;
	}

	.ce_metamodel_nightlyinfo td {
		&[class*="col_"] {
			width: 100%;
			text-align: left;
			display: block;
			padding-top: 0;
		}

		&.col_0 {
			padding-top: 15px;
		}

		&.col_2 {
			padding-bottom: 16px;
		}
	}

	footer {
		// height: auto;
		// margin-top: 0;
		// position: relative;
	}
}

@media (max-width: 715px) {
	h1 {
		height: 80px;

		a {
			height: 80px;
		}
	}
	h2 {
		font-size: 22px;
		margin-bottom: 15px;
	}

	.mod_article.fixed h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 19px;
	}
	div[class*="ce_"].text-image p {
		padding-top: 0;
	}

	.ce_list {
		&.contributors li, &.sponsors li {
			width: 100%;
		}

		&.contributors li:nth-child(n), &.sponsors li:nth-child(n) {
			margin-right: 0;
		}

		&.contributors li:nth-last-child(n), &.sponsors li:nth-last-child(n) {
			border-bottom: 1px solid #cdcdcd;
		}

		&.contributors li:last-child, &.sponsors li:last-child {
			border-bottom: 0;
		}

		&.stats ul li {
			width: 47.5%;
			margin-right: 5%;

			&:nth-child(n) {
				margin-right: 5%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(-n+5) {
				margin-bottom: 0;
			}

			&:nth-child(-n+3) {
				margin-bottom: 40px;
			}
		}
	}

	#social {
		// float: none;
		// margin-top: 20px;
		// display: block;
		// width: 100%;
	}
}

@media (max-width: 585px) {
	.js-nav #wrapper {
		right: 70%;
	}

	.mod_wf_extendedBreadcrumb {
		float: none;
	}

	.mod_changelanguage {
		float: none;
		margin-top: 10px;
	}

	.fundraising .sponsoring {
		width: 100%;
		display: block;

		&:last-child {
			margin-top: 25px;
		}
	}
}

@media (max-width: 550px) {
	.supporters .item {
		width: 100%;

		&:nth-child(n) {
			margin-right: 0;
		}

		&:nth-last-child(n) {
			margin-bottom: 4%;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	footer {
	// 	p, .mod_navigation {
	// 		width: 100%;
	// 	}
	//
	// 	p {
	// 		margin-right: 0;
	// 		margin-bottom: 15px;
	// 	}
	//
	// 	.mod_navigation {
	// 		text-align: left;
	// 	}
	}
}

@media (max-width: 380px) {
	.js-nav #wrapper {
		right: 90%;
	}
}

@media (max-width: 350px) {
	.ce_list.stats ul li {
		width: 100%;
		margin-right: 0;

		&:nth-child(n) {
			margin-right: 0;
		}

		&:nth-child(-n+3), &:nth-child(-n+5) {
			margin-bottom: 40px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 350px) and (max-width: 460px) {
	.ce_list.stats strong {
		font-size: 35px;
	}
}
